@charset "utf-8";
/* CSS Document */
.container{
margin-top: 50px;
}
.carousel-caption{
color:rgba(0,0,0,1.00);
background-color:rgba(254,254,254,0.63);
}
.carousel{
	padding: 30px;
	height-top: 30px;
}
.pie{
  background-color: rgba(241,151,4,0.72);
	margin-bottom:20px;
}
div.col-md-1{
	margin-bottom:2px;
	top: 10px;
}

div.container1{
	background-color: rgba(47,230,199,0.67);
}
.navbar-item{
outline-color:rgba(250,250,250,1.00);
outline: rgba(43,215,212,1.00);
}





